# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Datasets y modelos pesados
models/
datasets/
data/
*.h5
*.pt
*.pth
*.ckpt

# Archivos de logs y temporales
*.log
*.tmp
*.bak
*.swp

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Otros
*.sqlite3
